{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-ruby"],
  "rubySingleQuote": true,
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "singleQuote": true,
        "rubySingleQuote": true,
        "parser": "ruby"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
